<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Gallery ANY>
<!ATTLIST Gallery id ID #REQUIRED>
<!ELEMENT Main ANY>
<!ATTLIST Main id ID #REQUIRED>
<!ELEMENT Carousel ANY>
<!ATTLIST Carousel id ID #REQUIRED>
<!ELEMENT Columns ANY>
<!ATTLIST Columns id ID #REQUIRED>
<!ELEMENT Contacts ANY>
<!ATTLIST Contacts id ID #REQUIRED>
<!ELEMENT Root ANY>
<!ATTLIST Root id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT GalleryItem ANY>
<!ATTLIST GalleryItem id ID #REQUIRED>

]>
<root id="-1">
  <Root id="1076" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2014-05-17T20:09:02" updateDate="2014-05-20T20:06:21" nodeName="Терапевт" urlName="терапевт" path="-1,1076" isDoc="" nodeType="1075" creatorName="Oleg" writerName="Oleg" writerID="0" template="1074" nodeTypeAlias="Root">
    <siteTitle><![CDATA[Терапевт.by]]></siteTitle>
    <Main id="1107" parentID="1076" level="2" creatorID="0" sortOrder="0" createDate="2014-05-20T20:14:08" updateDate="2014-05-23T09:44:22" nodeName="Главная" urlName="главная" path="-1,1076,1107" isDoc="" nodeType="1106" creatorName="Oleg" writerName="Oleg" writerID="0" template="1077" nodeTypeAlias="Main">
      <Title><![CDATA[Психолог Грицышина Алевтина Владимировна]]></Title>
      <Body><![CDATA[<p>Здравствуйте! Вы посетили сайт психолога, это значит, Вы не хотите опускать руки, и активно ищите выход из беспокоящей вас ситуации. И обязательно найдете его! Ведь Вы уже сделали главный шаг - решились избавиться от проблемы, заручиться помощью и поддержкой квалифицированного специалиста. Можете быть уверены - этот шаг верный. Ведь психолог, как и врач, который лечит тело, обладает необходимым инструментарием, чтобы вылечить Вашу душу.</p>
<p><strong>Чем я могу вам помочь?</strong><br /> <br />Работая вместе, мы сможем разобраться в волнующих вас вопросах, найдем наилучшие пути решения беспокоящих проблем. Я помогу вам лучше понять себя. Вы можете рассчитывать на мою внимательность, заботу и поддержку. Возможно, уже после нескольких встреч ваша, на первый взгляд, сложная ситуация измениться.<br /> <br /><strong>В каких случаях обращаются ко мне?</strong><br /> <br />Общение с психологом порой бывает необходимо каждому из нас. Вот те случаи, в которых вам может пригодиться моя помощь:</p>
<ul>
<li>Кризис в любовных, брачных, семейных отношениях</li>
<li>Чувство неуверенности в себе, подавленности, одиночества, безыcходности</li>
<li>Тяжело переносимые переживания - гнев, ревность, обида, вина, стыд, разочарование и д.р.</li>
<li>Проблемы на работе, в творчестве, в общении с коллегами.</li>
</ul>
<p> <strong>Как попасть ко мне на прием?</strong></p>
<p>Звоните по тел. <strong>+375 29 344 45 02</strong></p>]]></Body>
      <Photo>1104</Photo>
      <Background>1111</Background>
    </Main>
    <TextPage id="1117" parentID="1076" level="2" creatorID="0" sortOrder="1" createDate="2014-05-23T09:33:20" updateDate="2014-05-23T15:12:43" nodeName="Обо мне" urlName="обо-мне" path="-1,1076,1117" isDoc="" nodeType="1116" creatorName="Oleg" writerName="Oleg" writerID="0" template="1079" nodeTypeAlias="TextPage">
      <Title><![CDATA[Обо мне]]></Title>
      <Body><![CDATA[<p>Я  Алевтина Грицышина - практический психолог, гештальт-терапевт, ведущая тренингов и терапевтических групп. Частной практикой занимаюсь с 2010 г. Считаю, что каждый человек  способен быть счастливым, любимым и любящим. А также жить интересной, насыщенной жизнью, развивать свои таланты, расти профессионально и при этом оставаться в гармонии с собой и окружающим миром. У каждого из нас - свой неповторимый путь, сложности и радости которого люблю исследовать вместе с моими клиентами.</p>
<p> </p>
<p><strong>Какое у меня образование? </strong></p>
<p>Академия МВД, специализация – юрист- психолог.</p>
<p>Белорусский институт гештальта. Специализация – гештальт-терапевт, ведущая групп.</p>
<p>Летний интенсив (гештальт-подход) 2011 г. «Диалог культур и созвучие стилей»</p>
<p>Специализированные конференции (гештальт-подход) 2010, 2011, 2012 гг. Участие в различных тематических семинарах, тренингах.</p>
<p> </p>
<p><strong>Обо мне лично. </strong></p>
<p>Мне 29 лет. Я замужем, детей нет. В свободное время занимаюсь творчеством – делаю ежедневники, открытки ручной работы. Фото можно посмотреть здесь: <a href="http://vk.com/club33290621">http://vk.com/club33290621</a> .</p>
<p>Хожу в школу современных танцев, люблю путешествовать. Иногда пишу статьи на различные темы в периодические издания.</p>]]></Body>
      <Background>1110</Background>
    </TextPage>
    <Gallery id="1126" parentID="1076" level="2" creatorID="0" sortOrder="2" createDate="2014-05-26T23:22:15" updateDate="2014-05-26T23:58:58" nodeName="Сертификаты" urlName="сертификаты" path="-1,1076,1126" isDoc="" nodeType="1123" creatorName="Oleg" writerName="Oleg" writerID="0" template="1097" nodeTypeAlias="Gallery">
      <GalleryItem id="1128" parentID="1126" level="3" creatorID="0" sortOrder="0" createDate="2014-05-26T23:41:47" updateDate="2014-05-26T23:55:55" nodeName="Сертификат2" urlName="сертификат2" path="-1,1076,1126,1128" isDoc="" nodeType="1125" creatorName="Oleg" writerName="Oleg" writerID="0" template="1124" nodeTypeAlias="GalleryItem">
        <Title><![CDATA[Сертификат2]]></Title>
        <Description><![CDATA[<p>Описание</p>]]></Description>
        <Image>1130</Image>
      </GalleryItem>
      <GalleryItem id="1129" parentID="1126" level="3" creatorID="0" sortOrder="1" createDate="2014-05-26T23:46:15" updateDate="2014-05-26T23:55:56" nodeName="Сертификат3" urlName="сертификат3" path="-1,1076,1126,1129" isDoc="" nodeType="1125" creatorName="Oleg" writerName="Oleg" writerID="0" template="1124" nodeTypeAlias="GalleryItem">
        <Title><![CDATA[Сертификат3]]></Title>
        <Description><![CDATA[<p>Описание</p>]]></Description>
        <Image>1120</Image>
      </GalleryItem>
      <GalleryItem id="1131" parentID="1126" level="3" creatorID="0" sortOrder="2" createDate="2014-05-26T23:51:02" updateDate="2014-05-26T23:55:56" nodeName="Сертификат4" urlName="сертификат4" path="-1,1076,1126,1131" isDoc="" nodeType="1125" creatorName="Oleg" writerName="Oleg" writerID="0" template="1124" nodeTypeAlias="GalleryItem">
        <Title><![CDATA[Сертификат4]]></Title>
        <Description><![CDATA[<p>Описание</p>]]></Description>
        <Image>1121</Image>
      </GalleryItem>
      <Title><![CDATA[Сертификаты]]></Title>
      <Background>1114</Background>
    </Gallery>
    <Columns id="1096" parentID="1076" level="2" creatorID="0" sortOrder="3" createDate="2014-05-19T20:06:10" updateDate="2014-05-23T10:01:25" nodeName="Статьи" urlName="статьи" path="-1,1076,1096" isDoc="" nodeType="1095" creatorName="Oleg" writerName="Oleg" writerID="0" template="1094" nodeTypeAlias="Columns" />
    <Carousel id="1089" parentID="1076" level="2" creatorID="0" sortOrder="4" createDate="2014-05-19T17:24:13" updateDate="2014-05-23T09:49:31" nodeName="Коллеги" urlName="коллеги" path="-1,1076,1089" isDoc="" nodeType="1088" creatorName="Oleg" writerName="Oleg" writerID="0" template="1087" nodeTypeAlias="Carousel" />
    <Contacts id="1102" parentID="1076" level="2" creatorID="0" sortOrder="5" createDate="2014-05-19T23:03:27" updateDate="2014-05-20T12:55:29" nodeName="Контакт" urlName="контакт" path="-1,1076,1102" isDoc="" nodeType="1101" creatorName="Oleg" writerName="Oleg" writerID="0" template="1100" nodeTypeAlias="Contacts" />
  </Root>
</root>