@inherits UmbracoTemplatePage
<article id="@Model.Content.Name.Replace(' ', '-')" class="section-wrapper clearfix" data-custom-background-img="@(CurrentPage.HasValue("Background")?Umbraco.Media(CurrentPage.Background).umbracoFile:string.Empty)">
    <div class="content-wrapper clearfix">
        <div class="col-sm-11 col-md-10 pull-right">
            <h1 class="section-title">@Umbraco.Field("Title")</h1>
            <section class="grid row clearfix clearfix-for-2cols">
                @foreach (var child in Model.Content.Children)
                {
                    @Umbraco.RenderTemplate(child.Id)
                }
            </section>
        </div>
    </div>
</article>